.container {
  width: 90%;
  max-width: 650px;
  background: linear-gradient(335deg, #9833eb, #910a5c);
  color: #fff;
  margin: 24px auto 0;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  box-shadow: 5px 5px 2px 2px rgb(0, 0, 0);
  flex-wrap: wrap;
}

.img2 {
  background-image: url("./icons/black.png");
  width: 400;
  height: 400;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cve; */
}

.container:hover {
  border: 2px solid #fff5fb; /* Cambia el borde al color deseado en hover */
}

#470d77,
#910a5c .todo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.TodoItem {
  background-color: #470d77;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  padding: 12px;
  border-radius: 10px; /* Opcional: bordes redondeados */
}

.TodoItem-p {
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}
